body{
    background-color: black;
    color: beige;
}
.row{
    overflow: auto;
}
.col-md-6{
    border: dashed beige;
    padding: 20px;
    text-align: center;
    height: 500px;
}


#song-nm{
    text-align: center;
    font-family: cursive;
    color: bisque;
    font-size: 45px;
    padding-bottom: 20px;
}